<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="stylesheets/adabase-stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen"/>
  </head>
  <body>
    <section class="page-header">
      <div class="minwide">
      <h1 class="project-name">AdaBase</h1>
      <a href="https://jrmarino.github.io/AdaBase" class="btn">User Guide</a>
      <a href="https://github.com/jrmarino/AdaBase" class="btn">View on GitHub</a>
      <a href="http://freshports.org/databases/adabase" class="btn">BSD Ports</a>
      <a href="http://www.dragonlace.net" class="btn">DragonLace.net</a>
      </div>
    </section>
    <section class="main-content">
{{content}}
      <div class="clearer"><span></span></div>
      <footer class="site-footer">
        <span class="site-footer_owner"><a href="http://github.com/jrmarino/AdaBase">AdaBase</a>
        is maintained by
        <a href="https://github.com/jrmarino">jrmarino</a>.</span>
      </footer>
    </section>
  </body>
</html>